*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: rgb(104, 71, 135);  */
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    /* background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%); */
}
.box{
    width: 500px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0,0.5);
    padding-top: 10px;
}
.content{
    padding: 0 30px;
    padding-top: 20px;
}
.input{
    background-color: #fff;
    padding: 10px 0;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0.0.15);
}
.input label{
    display: block;
    font-size:18px ;
    font-weight:600 ;
    color: black;
    margin-bottom: 10px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(118, 77, 130);
    width: 50%;
    text-align: center;
    font-size: 28px;
}
.containerhw{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.inputh{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0.0.15);
}

.inputh label{
    display: block;
    font-size:18px ;
    font-weight:600 ;
    color: black;
    margin-bottom: 10px;
}
.inputh input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(118, 77, 130);
    width: 50%;
    text-align: center;
    font-size: 28px;
}
.inputw{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0.0.15);
}
.inputw label{
    display: block;
    font-size:18px ;
    font-weight:600 ;
    color: black;
    margin-bottom: 10px;
}
.inputw input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(118, 77, 130);
    width: 50%;
    text-align: center;
    font-size: 28px;
}
button{
    cursor: pointer;
    color: #fff;
    background-color: #000269;
    font-size: 16px;
    border-radius: 15px;
    padding: 12px 0;
    width: 70%;
    border: none;
    outline: none;
    transition: all 0.5s;
    margin-top: 5px;
}
button:hover{
    background-color: #1d20e8;
}
.clear{
    cursor: pointer;
    color: #fff;
    /* background-color: rgb(125, 91, 157);      #30cfd0 0%, #330867 */
    background-color: #000269;
    font-size: 16px;
    border-radius: 7px;
    padding: 5px 0;
    width: 20%;
    border: none;
    outline: none;
    transition: all 0.5s;
    margin-top: 5px;
}

.result{
    padding:10px 20px
}
.result p{
    font-size:22px ;
    font-weight:600 ;
    margin-bottom: 15px;
    color: black;
}
.result #result{
    font-size:30px ;
    font-weight:500 ;
    margin-bottom: 15px;
    width: 35%;
    color: rgb(255, 255, 255);
    background-color: #0f11a6;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.comment{
    color: blue;
    font-weight: 800;
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}

.gender {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
}

.genderm, .genderf {
    display: flex;
    align-items: center;
}

.genderm label, .genderf label {
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-left: 8px; /* Adds some space between the radio button and the label */
}

.genderm input[type="radio"], .genderf input[type="radio"] {
    transform: scale(1.5); /* Increases the size of the radio button */
}


